{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <form action="" method="post">
        <fieldset>
            <legend>Select a driver for your wearable:</legend>
            <div class="form-group required">
                {{ form.csrf_token }}
                {{ form.wearable_name.label(class="form-control-label") }}
                {{ form.wearable_name(class="form-control") }}
            </div>
            <div class="form-group required">
                {{ form.csrf_token }}
                {{ form.driver_name.label(class="form-control-label") }}
                {{ form.driver_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>

    <h3>Available Drivers:</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Device</th>
                <th>Driver Name</th>
                <th>Version</th>
                <th>Release Date</th>
                <th>Most Current?</th>
            </tr>
        </thead>
        <!-- VVVV REPLACE WITH CALLS TO FILL FROM DATABASE DATA -->
        <tbody>
            {% for driver in drivers %}
            <tr>
                <td>{{driver.device}}</td>
                <td>{{driver.driverName}}</td>
                <td>{{driver.version}}</td>
                <td>{{driver.releaseDate}}</td>
                <td>{{driver.mostCurrent}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        wearable: $('#select_wearable'),
        driver: $('#select_driver')
    };

    // call to update on load
    updateDrivers();

    // function to call XHR and update drivers dropdown
    function updateDrivers() {
        var send = {
            wearable: dropdown.wearable.val()
        };

        dropdown.driver.attr('disabled', 'disabled');
        dropdown.driver.empty();
        $.getJSON("{{ url_for('_get_drivers') }}", send, function(data) {
            data.forEach(function(item) {       //fill in the new drivers based on wearable selected
                dropdown.driver.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });

            dropdown.driver.removeAttr('disabled');
        });
    }

    // event listener to state dropdown change
    dropdown.wearable.on('change', function() {     //when wearable is clicked on from dropdown
        updateDrivers();
    });

});

</script>
{% endblock %}