{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class = "container">
    <form action = "" method = "post">
        <fieldset>
            <legend>Select a type of physiological data to view:</legend>
            <div class ="form-group required">
                {{ form.phys_data_type.label(class="form-control-label") }}
                {{ form.phys_data_type(class="form-control") }}
            </div>
            <div class = "form-group">
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>
    <a href="/files" target="blank"><button class='btn btn-default'>Download Table!</button></a>
    <h3>Physiological Data Information:</h3>
        {{ table }}
    

</div>
{% endblock %}
