{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class = "container">
    <form action = "" method = "post">
        <fieldset>
            <legend>Select the wearable whose information you would like to see:</legend>
            <div class ="form-group required">
                {{ form.csrf_token }}
                {{ form.wearable_name.label(class="form-control-label") }}
                {{ form.wearable_name(class="form-control") }}
            </div>

            <div class = "form-group">
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>


    <h1>Wearable Information</h1>
    
    <h3><strong>Name: </strong>{{wearables.name}}</h3>
    <h3><strong>Battery %: </strong>{{wearables.battery}}</h3>
    <h3><strong>Type: </strong>{{wearables.type}}</h3>
    <h3><strong>Selected Driver: </strong>{{wearables.selectedDriver}}</h3>
</div>
{% endblock %}